p {
  margin: 0;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card__img {
  cursor: pointer;
  width: 60%;
  height: 80%;
}

.card__author {
  cursor: pointer;
}